.analytics {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
  font-family: "Lato", sans-serif;
  padding-left: 50px;
  padding-right: 50px;
  margin-bottom: 100px;
}

.analytics-title {
  text-align: center;
}

.user {
  display: flex;
  align-items: center;
  justify-content: center;
}

.analytics-title h2 {
  color: #43572c;
  font-weight: 500;
  font-size: 30px;
  margin-top: 0;
  margin-bottom: 5px;
}

.analytics-title h3 {
  font-size: 18px;
  font-weight: normal;
  color: black;
  margin-top: 5px;
  margin-bottom: 10px;
}

.wave-icon {
  height: 23px;
  margin-left: 5px;
}

.analytics-container {
  margin-top: 15px;
}

.analytic-card {
  border: 1px solid #e0e0e0;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 150px;
  margin-bottom: 15px;
}

.analytics-title h4 {
  font-size: 20px;
  margin-top: 0;
}

.wasted-status-section {
  display: flex;
  align-items: center;
  text-align: center;
  margin-top: 10px;
}

.wasted-status-section p {
  margin-top: 0;
  margin-bottom: 0;
  padding: 5px 20px;
}

.waste-status-num {
  font-size: 35px;
}

.logout-btn {
  margin-top: 20px;
  border: 1px solid #e0e0e0;
  text-align: center;
  padding: 5px 15px 5px 15px;
  border-radius: 8px;
}

/* Media queries */
@media only screen and (min-width: 768px) {
  .analytics-title h2 {
    font-size: 35px;
  }
  .analytics-title h3 {
    font-size: 20px;
  }

  .analytics-title h4 {
    font-size: 22.5px;
  }
  .wave-icon {
    height: 28px;
    margin-left: 5px;
  }
  .waste-status-num {
    font-size: 38px;
  }

  .vs {
    font-size: 18px;
  }

  .ua-txt {
    font-size: 17.5px;
  }
}

@media only screen and (min-width: 992px) {
  .analytics {
    padding-left: 80px;
    padding-right: 80px;
  }

  .analytics-title h2 {
    font-size: 40px;
  }
  .analytics-title h3 {
    font-size: 23px;
  }

  .analytics-title h4 {
    font-size: 23px;
  }

  .wave-icon {
    height: 30px;
    margin-left: 5px;
  }
  .waste-status-num {
    font-size: 38px;
  }

  .vs {
    font-size: 20px;
  }

  .ua-txt {
    font-size: 18px;
  }
}

@media only screen and (min-width: 1200px) {
  .analytics {
    padding-left: 100px;
    padding-right: 100px;
  }

  .analytics-title h2 {
    font-size: 40px;
  }
  .analytics-title h3 {
    font-size: 25.5px;
  }

  .analytics-title h4 {
    font-size: 23px;
  }

  .wave-icon {
    height: 35px;
    margin-left: 5px;
  }
  .waste-status-num {
    font-size: 40px;
  }

  .vs {
    font-size: 22px;
  }

  .ua-txt {
    font-size: 20px;
  }
}
