.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  font-family: "Lato", sans-serif;
}

.about-title h2 {
  color: #43572c;
  font-weight: 500;
  font-size: 30px;
  margin-top: 0;
  margin-bottom: 0;
}

.about {
  padding-left: 50px;
  padding-right: 50px;
}

.about-info p {
  text-align: center;
  padding-top: 10px;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 20px;
}

.about-img {
  height: 300px;
}

/* Media queries */

@media only screen and (min-width: 768px) {
  .about-title h2 {
    font-size: 40px;
  }

  .about-img {
    height: 330px;
  }
}

@media only screen and (min-width: 992px) {
  .about-title h2 {
    font-size: 45px;
  }

  .about-img {
    height: 350px;
  }

  .about {
    padding-left: 80px;
    padding-right: 80px;
  }

  .about-info p {
    font-size: 22.5px;
  }
}

@media only screen and (min-width: 1200px) {
  .about-title h2 {
    font-size: 50px;
  }

  .about-img {
    height: 350px;
  }

  .about {
    padding-left: 100px;
    padding-right: 100px;
  }

  .about-info p {
    font-size: 22.5px;
  }
}
