.search {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Lato", sans-serif;
  padding-top: 20px;
}

.search-title h2 {
  font-weight: 500;
  font-size: 30px;
  margin-top: 0;
  margin-bottom: 0;
}

.search-bar input {
  height: 35px;
  width: 300px;
  border: 1px solid #509498;
  border-radius: 10px;
  text-align: center;
  margin-top: 20px;
}

.results h3 {
  padding-left: 10px;
  font-size: 20px;
}
