.add {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
  font-family: "Lato", sans-serif;
  padding-left: 50px;
  padding-right: 50px;
  margin-bottom: 100px;
}

.add-title h2 {
  color: #43572c;
  font-weight: 500;
  font-size: 30px;
  margin-top: 0;
  margin-bottom: 0;
}

.add-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
  width: 250px;
}

.add-food label {
  font-weight: 600;
  color: #43572c;
  padding-left: 2px;
}

.save-btn-container {
  display: flex;
  justify-content: center;
  color: #509498;
}

.save-btn {
  margin-top: 20px;
  background: none;
  border: 1px solid #e0e0e0;
  padding: 5px 15px 5px 15px;
  border-radius: 8px;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

/* Media queries */
@media only screen and (min-width: 768px) {
  .add-title h2 {
    font-size: 35px;
  }

  .add-food label {
    font-size: 18px;
  }
}

@media only screen and (min-width: 992px) {
  .add-title h2 {
    font-size: 40px;
  }

  .add-food label {
    font-size: 18px;
  }
}

@media only screen and (min-width: 1200px) {
  .add-title h2 {
    font-size: 40px;
  }

  .add-food label {
    font-size: 19px;
  }
}
