.homepage-body {
  padding-top: 20px;
  font-family: "Lato", sans-serif;
  margin-bottom: 100px;
}

.waste-not-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;
}

.waste-not-info h2 {
  text-transform: uppercase;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 18pt;
}

.waste-not-info h3 {
  margin-top: 10px;
  margin-bottom: 0px;
  color: #509498;
  font-size: 15pt;
}

.waste-not-header-photo {
  height: 171px;
}

.diagonal-arrow {
  font-size: 12px;
}

.waste-not-facts-container p {
  font-size: 17px;
}

.waste-not-facts-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fcfaf8;
  padding-top: 20px;
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.waste-not-facts-container h3,
h4 {
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0px;
}

.food-waste-definition {
  text-decoration: underline;
  text-decoration-color: #0f4e4d;
  padding-left: 2px;
  color: inherit;
}

.waste-not-facts-container h3 {
  color: #43572c;
  text-transform: uppercase;
  font-size: 13.5pt;
}

.waste-not-facts-container h4 {
  color: #509498;
  font-size: 13pt;
  margin-bottom: 10px;
}


.food-waste-meaning {
  margin-bottom: 5px;
}

.food-waste-facts {
  margin-top: 5px;
}

.Loading-msg p {
  text-align: center;
}

.fact {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 15px;
}

.waste-not-app-info {
  text-align: center;
  padding-left: 50px;
  padding-right: 50px;
  margin-bottom: 100px;
}

.waste-not-app-info h4 {
  color: #2d3b1d;
  font-size: 1pt;
  margin-top: 0px;
  margin-bottom: 20px;
  font-size: 15pt;
  padding-top: 20px;
}

.waste-not-infograph-container {
  padding-bottom: 20px;
}

.family-shopping-graph,
.user-analytics-graph,
.saving-money-graph {
  height: 120px;
}

.family-shopping p,
.user-analytics p,
.saving-money p {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 16px;
}

.waste-not-infograph {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 15px;
}

/* Media queries */
@media only screen and (min-width: 768px) {
  .waste-not-header-photo {
    height: 250px;
  }

  .waste-not-container {
    padding-left: 30px;
    padding-right: 30px;
  }

  .waste-not-facts-container {
    padding-left: 30px;
    padding-right: 30px;
  }

  .waste-not-infograph {
    grid-template-columns: repeat(3, 1fr);
  }

  .waste-not-info h2 {
    font-size: 20pt;
  }

  .waste-not-info h3 {
    font-size: 17pt;
  }

  .waste-not-facts-container h3 {
    font-size: 15pt;
  }

  .waste-not-facts-container h4 {
    font-size: 14pt;
  }

  .family-shopping-graph,
  .user-analytics-graph,
  .saving-money-graph {
    height: 130px;
  }

  .waste-not-facts-container p {
    font-size: 18px;
  }

  .family-shopping p,
  .user-analytics p,
  .saving-money p {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 16px;
  }
}

@media only screen and (min-width: 992px) {
  .waste-not-header-photo {
    height: 300px;
  }

  .waste-not-infograph {
    grid-template-columns: repeat(3, 1fr);
  }

  .waste-not-container,
  .waste-not-facts-container,
  .waste-not-app-info {
    padding-left: 80px;
    padding-right: 80px;
  }
  .waste-not-info h2 {
    font-size: 25pt;
  }

  .waste-not-info h3 {
    font-size: 18pt;
  }

  .family-shopping-graph,
  .user-analytics-graph,
  .saving-money-graph {
    height: 150px;
  }

  .waste-not-facts-container h3 {
    font-size: 16pt;
  }

  .waste-not-facts-container h4 {
    font-size: 14pt;
  }

  .waste-not-facts-container p {
    font-size: 17px;
  }

  .family-shopping p,
  .user-analytics p,
  .saving-money p {
    font-size: 16px;
  }
}

@media only screen and (min-width: 1200px) {
  .waste-not-header-photo {
    height: 380px;
  }

  .waste-not-infograph {
    grid-template-columns: repeat(3, 1fr);
  }

  .waste-not-container,
  .waste-not-facts-container,
  .waste-not-app-info {
    padding-left: 100px;
    padding-right: 100px;
  }

  .waste-not-info h2 {
    font-size: 30pt;
  }

  .waste-not-info h3 {
    font-size: 22.5pt;
  }

  .family-shopping-graph,
  .user-analytics-graph,
  .saving-money-graph {
    height: 180px;
  }

  .waste-not-facts-container h3 {
    font-size: 18pt;
  }

  .waste-not-facts-container h4 {
    font-size: 16pt;
  }

  .waste-not-facts-container p {
    font-size: 19px;
  }

  .family-shopping p,
  .user-analytics p,
  .saving-money p {
    font-size: 17px;
  }

}
