.homepage-body {
  /* border: 1px solid red; */
  padding-top: 20px;
  font-family: "Lato", sans-serif;
}

.waste-not-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 50px;
  padding-right: 50px;
}

.waste-not-info h2 {
  text-transform: uppercase;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 18pt;
}

.waste-not-info h3 {
  margin-top: 10px;
  margin-bottom: 0px;
  color: #509498;
  font-size: 15pt;
}

.waste-not-header-photo {
  height: 171px;
}

.diagonal-arrow {
  font-size: 12px;
}

/* Facts section */
.waste-not-facts-container {
  /* border: 1px solid blue; */
  padding-top: 20px;
  text-align: center;
}

.waste-not-facts-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #fcfaf8;
  padding-left: 50px;
  padding-right: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.waste-not-facts-container h3,
h4 {
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0px;
}
/* .waste-not-facts-container p {
  margin-left: 10px;
  margin-right: 10px;
} */

.food-waste-definition {
  text-decoration: underline;
  text-decoration-color: #0f4e4d;
  padding-left: 2px;
  color: inherit;
}

.waste-not-facts-container h3 {
  color: #43572c;
  text-transform: uppercase;
  font-size: 13pt;
}

.waste-not-facts-container h4 {
  color: #509498;
  font-size: 13.5pt;
  margin-bottom: 10px;
}
.food-waste-meaning {
  /* border: 1px solid orange; */
  margin-bottom: 5px;
}

.food-waste-facts {
  /* border: 1px solid purple; */
  margin-top: 5px;
}

.Loading-msg p {
  text-align: center;
}
.fact {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 15px;
}

.waste-not-app-info {
  text-align: center;
  padding-left: 50px;
  padding-right: 50px;
  margin-bottom: 100px;
}

.waste-not-app-info h4 {
  color: #2d3b1d;
  font-size: 1pt;
  margin-top: 0px;
  margin-bottom: 20px;
  font-size: 15pt;
  padding-top: 20px;
}

.waste-not-infograph-container {
  padding-bottom: 20px;
}

.family-shopping-graph,
.user-analytics-graph,
.saving-money-graph {
  height: 120px;
}

.family-shopping p,
.user-analytics p,
.saving-money p {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 10.5pt;
}

.waste-not-infograph {
  display: grid;
  /* Add breakpoint to be repeat 1, change to repeat 3 for larger screens  */
  grid-template-columns: 1fr;
  grid-gap: 15px;
}
