.signup-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  font-family: "Lato", sans-serif;
  padding-left: 50px;
  padding-right: 50px;
}

.signup-error-msg-container {
  width: 280px;
  margin-bottom: 100px;
}

.signup-title h2 {
  color: #43572c;
  font-weight: 500;
  font-size: 30px;
  margin-top: 0;
  margin-bottom: 0;
}

.err-list {
  list-style-type: circle;
  margin-right: 5px;
}

.err-list li {
  padding-top: 5px;
  padding-bottom: 5px;
}

.err {
  text-align: center;
  color: #feb546;
}

@media only screen and (min-width: 768px) {
  .signup-title h2 {
    font-size: 35px;
  }

  .err-li,
  .err,
  .err-info {
    font-size: 17px;
  }
}

@media only screen and (min-width: 992px) {
  .signup-page {
    padding-left: 80px;
    padding-right: 80px;
  }

  .signup-title h2 {
    font-size: 40px;
  }

  .err-li,
  .err,
  .err-info {
    font-size: 18px;
  }
}

@media only screen and (min-width: 1200px) {
  .signup-page {
    padding-left: 100px;
    padding-right: 100px;
  }
  .signup-title h2 {
    font-size: 40px;
  }

  .err-li,
  .err,
  .err-info {
    font-size: 18px;
  }
}
