.inventory {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
  font-family: "Lato", sans-serif;
  padding-left: 50px;
  padding-right: 50px;
  margin-bottom: 100px;
}

.inventory-title h2 {
  color: #43572c;
  font-weight: 500;
  font-size: 30px;
  margin-top: 0;
  margin-bottom: 0;
}

.category-icon {
  height: 30px;
}

.inventory-container {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}

.inventory-item-container {
  border: 1px solid #e0e0e0;
  border-radius: 20px;
  width: 250px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 3.5px 10px;
}

.item-left {
  display: flex;
  align-items: center;
}

.item-right {
  text-align: center;
}

.number {
  font-size: 14px;
  color: #2d3b1d;
  font-weight: bold;
}

.quantity {
  font-size: 12px;
  padding-top: 2px;
  padding-bottom: 2px;
}

.expires {
  color: #bebebe;
  font-size: 10px;
}

.item-right p {
  margin-top: 0;
  margin-bottom: 0;
}

.food-name h3 {
  padding-left: 10px;
  font-size: 25px;
}

.inventory-add-container {
  margin-top: 20px;
  border: 1px solid #e0e0e0;
  text-align: center;
  padding: 5px 15px 5px 15px;
  border-radius: 8px;
}

/* Media queries */
@media only screen and (min-width: 768px) {
  .inventory-title h2 {
    font-size: 35px;
  }

  .category-icon {
    height: 35px;
  }

  .number {
    font-size: 15px;
  }

  .quantity {
    font-size: 13px;
  }

  .expires {
    font-size: 11px;
  }
}

@media only screen and (min-width: 992px) {
  .inventory {
    padding-left: 80px;
    padding-right: 80px;
  }
  .inventory-title h2 {
    font-size: 40px;
  }

  .category-icon {
    height: 35px;
  }

  .number {
    font-size: 16px;
  }

  .expires {
    font-size: 11px;
  }
}

@media only screen and (min-width: 1200px) {
  .inventory {
    padding-left: 100px;
    padding-right: 100px;
  }
  .inventory-title h2 {
    font-size: 40px;
  }

  .category-icon {
    height: 35px;
  }

  .number {
    font-size: 16px;
  }

  .expires {
    font-size: 11px;
  }
}
