.inventory {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
  font-family: "Lato", sans-serif;
}

.inventory-title h2 {
  color: #43572c;
  font-weight: 500;
  font-size: 30px;
  margin-top: 0;
  margin-bottom: 0;
}

.category-icon {
  height: 30px;
}

.inventory-container {
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}

.inventory-item-container {
  border: 1px solid #e0e0e0;
  border-radius: 20px;
  width: 250px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5px;
  margin-bottom: 5px;

  padding: 5px 10px 5px 10px;
}

.item-left {
  /* border: 1px solid green; */
  display: flex;
  align-items: center;
}

.item-right {
  text-align: center;
}

.number {
  font-size: 14px;
  color: #2d3b1d;
  font-weight: bold;
}

.quantity {
  font-size: 12px;
  padding-top: 2px;
  padding-bottom: 2px;
}

.date {
  color: #bebebe;
  font-size: 10px;
}

.item-right p {
  margin-top: 0;
  margin-bottom: 0;
}

.food-name h3 {
  padding-left: 10px;
  font-size: 20px;
}

.inventory-add-container {
  margin-top: 15px;
  margin-bottom: 100px;
  border: 1px solid #e0e0e0;
  text-align: center;
  padding: 5px 15px 5px 15px;
  border-radius: 8px;
}
