.footer {
  display: flex;
  justify-content: center;
  height: 60px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #f0ede2;
  font-family: "Lato", sans-serif;
}

.footer h2 {
  font-size: 17pt;
}

@media only screen and (min-width: 768px) {
  .footer h2 {
    font-size: 19pt;
    font-weight: normal;
  }
}

@media only screen and (min-width: 992px) {
  .footer h2 {
    font-size: 19pt;
    font-weight: normal;
  }
}

@media only screen and (min-width: 1200px) {
  .footer h2 {
    font-size: 19pt;
    font-weight: normal;
  }
}
