/* .NavBar {
  display: flex;
  justify-content: center;
  margin: 0 0 20px;
}

.NavBar-link {
  margin: 0 10px;
}

.NavBar-welcome {
  color: grey;
} */

.NavBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fcfaf8;
  /* border: 1px solid green; */
  padding-left: 50px;
  padding-right: 50px;
  height: 60px;
}

.waste-not-title {
  font-family: "Raleway", sans-serif;
  color: #2d3b1d;
  font-size: 14pt;
}

/* Anon user */
.navbar-anon-user {
  font-family: "Lato", sans-serif;
}

.navbar-login-link {
  padding-right: 10px;
  color: #43572c;
}

.navbar-signup-link {
  padding-left: 5px;
  border-radius: 4px;
  background-color: #509498;
  color: #fcfaf8;
  padding: 3px 3px 3px 3px;
}

/* Signed in User */
.navbar-logged-in {
  display: flex;
  align-items: center;
  font-family: "Lato", sans-serif;
}

.profile-avatar {
  height: 35px;
}

.dashboard {
  padding-right: 5px;
  color: #43572c;
}

.navbar-search {
  padding-right: 10px;
}

/* Media queries */

@media only screen and (min-width: 992px) {
  .NavBar {
    padding-left: 80px;
    padding-right: 80px;
  }

  .waste-not-title {
    font-size: 16pt;
  }
}

@media only screen and (min-width: 1200px) {
  .NavBar {
    padding-left: 100px;
    padding-right: 100px;
  }

  .waste-not-title {
    font-size: 18pt;
  }
}
